<% layout('../layouts/boilerplate')%>
    <h1><%= campground.title %> </h1>
    <h2><%= campground.location %> </h2>
    <img src="<%= campground.image %>" alt="">
    <p>Photo by <a href="https://unsplash.com/@<%=campground.username%>?utm_source=campsite-app&utm_medium=referral"><%=campground.creator%></a> on <a href="https://unsplash.com/?utm_source=campsite-app&utm_medium=referral">Unsplash</a></p>
    <p><%= campground.description %></p>
    <p>£<%= campground.price %>.00 per night</p>
    <p>
        <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>
        <p>
            <a href="/campgrounds/<%=campground._id%>/edit">Edit</a>
        </p>
        <a href="/campgrounds">Back to all campgrounds</a>
    </footer>